html {
    font-size: 1em;
    line-height: 1.4;
}
body{
	margin:0;
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
	background: images/sir2.jpg;
}

.ab li{
	font-size: 20px;
	color: #BDB76B;
}

h1{
    padding-left: 10px;
}

.header-container {
    border-bottom: 20px solid #FAFAD2;
	position: fixed;
	width: 100%;
	z-index: 800;
}

.footer-container,
.main aside {
    border-top: 20px solid #FAFAD2;
}

.header-container,
.footer-container,
.main aside {
    background: #BDB76B;
}

.header-container,
.main aside {
		box-shadow: 0 5px 10px #aaa;
}

.main aside img{
	padding: 18px;
	padding-right: 40px;
}

.title {
    color: white;
	float: left;
}

nav {
	float: right;
	width: 45%;
}
.nav1 {
	float: center;
	width: 45%;
}	
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
	float: left; 
	width: 25%;
	margin: 0 1.7%;
	padding: 20px 2%;
	margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #808000;	 
}

nav a:hover{
	   background:#556B2F;
	}

nav a:hover {
    text-decoration: underline;
}
nav li:first-child a {
        margin-left: 0;
    }
nav li:last-child a {
        margin-right: 0;
    }

.aside_spec {
    color: white;
    padding: 0px 5% 10px;
	float: right;
    width: 28%;
	border-top: 20px solid #FAFAD2;
	border-bottom: 20px solid #FAFAD2;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}